@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.hover-bg-gradient:hover {
  background: linear-gradient(135deg, #517dcb, #7a4abf);
}

.bg-gradient {
  background: linear-gradient(135deg, #517dcb, #7a4abf);
}

.text-gradient {
  background: linear-gradient(135deg, #517dcb, #7a4abf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradient-icon {
  color: #6564C5;
}

.gradient-icon:hover {
  transform: scale(1.1);
  transition-duration: 300; /* Scale the icon to 120% on hover */
}

.hover-text-gradient:hover {
  background: linear-gradient(135deg, #517dcb, #7a4abf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
